@font-face {
  font-family: "Sofia Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Sofia Pro Bold"),
    url("/assets/sofia-pro-webfont/Sofia\ Pro\ Bold\ Az.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Brown";
  background-color: #f4fafa;
}

.container {
  display: flex;
  max-width: 1000px;
  padding: 40px;
  border-radius: 10px;
}

.left-section {
  flex: 1;
  padding-right: 40px;
  margin-top: 100px;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

.left-section h2 {
  font-size: 24px;
  color: #000b0a;
  font-family: "Sofia Pro Bold", Arial, sans-serif;
  margin-bottom: 20px;
}

.left-section p {
  font-size: 14px;
  line-height: 1.5;
  color: #737373;
}

.right-section {
  flex: 1;
  background: white;
  padding: 25px;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
}

form {
  display: grid;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: "Sofia Pro Regular", Arial, sans-serif;
}

input,
select {
  padding: 10px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  font-size: 14px;
  margin-bottom: 8px;
}

input,
select:focus {
  outline-color: #2ec4b6;
}

.form-row {
  display: flex;
  gap: 10px;
}

.form-row .form-group {
  flex: 1;
}

.register-btn {
  background-color: #2ec4b6;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #1aa389;
}

.terms {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

.terms span {
  color: #25c6a2;
  text-decoration: underline;
}
